.header-div{
    background-color: #3f5c9a;
    height: 82px;
    width: 100%;
}

.logo{
    
        color: white;
        text-decoration: none;
        font-family: cursive;
        font-size: 50px;
}